.container {
    display: flex;
    flex-direction: column;
    max-width: 460px;
    width: 100%;
    gap: 16px;
}

.message {
    &-wrapper {
        flex: 1 1 auto;
        overflow: auto;
    }

    &-list {
        display: inline-flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: 16px;
        list-style-type: none;
        padding: 0;
        margin: 0;
        height: 100%;
        width: 100%;
    }

    & {
        background: #94b4c1;
        padding: 12px;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin: 0 40px 0 0;

        &-metadata {
            display: flex;
            justify-content: space-between;

            > * {
                margin: 0;
            }
        }

        &_own {
            background: #eae0cf;
            margin: 0 0 0 40px;
        }
    }
}

.footer {
    textarea {
        width: 100%;
        height: 120px;
        resize: none;
    }
}
